@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Montez&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Palanquin+Dark:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Montez&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Palanquin+Dark:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: rgb(224, 224, 224);
}

.container {
     width: 1440px;
     height: 6000px;
     margin: auto;
     background-color: white;
     margin-top: 80px;
     overflow: hidden;

     @media (max-width:500px) {
          width: 100%;
          object-fit: contain;
          background-size: contain;
          background-position: center;
          margin: 0;
          padding: 0;
     }

     .main {
          width: 1440px;
          background-image: url("./Rectangle\ 2.svg");
          height: 839px;
          object-fit: cover;
          background-size: cover;

          @media (max-width:500px) {
               width: 100%;
               object-fit: contain;
               background-size: cover;
               background-position: center;
               margin: 0;
               padding: 0;
               height: 633px;
          }

          h3 {
               width: 324px;
               height: 30px;
               font-weight: 500;
               font-size: 18px;
               line-height: 30px;
               font-family: Poppins;
               text-align: center;
               margin: auto;
               margin-top: 80px;
          }

          >h1 {
               font-family: Poppins;
               font-weight: 600;
               font-size: 88px;
               line-height: 94px;
               text-align: center;
               width: 911px;
               margin: auto;
               margin-top: 20px;

               @media (max-width:500px) {
                    margin: 0;
                    font-size: 44px;
                    width: 366px;
                    text-align: none;
                    line-height: 52px;
                    margin-top: 20px;
               }
          }

          button {
               width: 242px;
               height: 56px;
               border: none;
               border-radius: 4px;
               background: linear-gradient(90deg, rgba(242, 100, 64, 1), rgba(239, 125, 96, 1));
               font-size: 18px;
               font-family: Poppins;
               font-weight: 600;
               line-height: 21px;
               color: white;
               display: flex;
               justify-content: center;
               align-items: center;
               margin: auto;
               margin-top: 30px;

               img {
                    margin-left: 5px;
               }
          }

          .navbar {
               display: flex;
               justify-content: space-between;
               width: 100%;
               height: 114px;
               align-items: center;
               padding-left: 100px;
               padding-right: 100px;

               @media (max-width:500px) {
                    padding: 0;
               }


               button {
                    width: 126px;
                    height: 56px;
                    background-color: rgba(233, 93, 2, 1);
                    border-radius: 80px;
                    gap: 8px;
                    border-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;

                    @media (max-width:500px) {
                         display: none;

                    }

                    p {
                         width: 60px;
                         height: 24px;
                         color: rgba(255, 255, 255, 1);
                         margin-top: 3px;
                    }
               }

               .navbar_menu {
                    display: none;

                    @media (max-width:500px) {
                         display: block;
                         margin-right: 30px;
                    }
               }

               ul {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    flex: 1;
                    margin-left: 50px;
                    gap: 25px;

                    @media (max-width:500px) {
                         display: none;

                    }

                    a {
                         text-decoration: none;
                         color: rgba(16, 16, 16, 1);
                    }

                    li:nth-child(1) {
                         font-weight: 300;
                         font-family: Poppins;
                         font-size: 16px;

                         &:hover {
                              font-weight: 600;

                         }
                    }

                    ;

                    li:nth-child(2) {
                         font-weight: 300;
                         font-family: Poppins;
                         font-size: 16px;

                         &:hover {
                              font-weight: 600;

                         }
                    }

                    ;

                    li:nth-child(3) {
                         font-weight: 300;
                         font-family: Poppins;
                         font-size: 16px;

                         &:hover {
                              font-weight: 600;

                         }
                    }

                    ;
               }

               .nav_img {
                    display: flex;

                    @media (max-width:500px) {
                         margin-left: 30px;
                    }

                    h1 {
                         color: rgba(29, 30, 37, 1);
                         width: 86px;
                         height: 21px;
                         font-family: Poppins;
                         font-weight: 600;
                         margin-left: 5px;
                    }
               }
          }
     }

     .main1 {
          background-color: rgb(250, 248, 244);
          width: 100%;
          height: 676px;

          @media (max-width:500px) {
               width: 100%;
               margin: 0;
               height: 1100px;
               padding-top: 200px;
          }

          >h1 {
               margin-left: 100px;
               margin-left: 100px;
               margin-top: -590px;
               margin-bottom: 100px;

               @media (max-width:500px) {
                    margin-left: 0;
                    text-align: center;
                    font-weight: 600;
                    font-size: 40px;
                    font-family: Poppins;
               }
          }

          >img {
               display: flex;
               justify-content: center;
               align-items: center;
               margin: auto;

               @media (max-width:500px) {
                    width: 100%;
                    padding-top: 180px;
               }
          }

          .cards {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr;
               width: 90%;
               margin-left: 100px;

               @media (max-width:500px) {
                    grid-template-columns: 1fr;
                    margin-left: 0;
                    margin: auto;

               }

               .card1 {
                    width: 420px;
                    height: 279px;

                    h2 {
                         width: 244px;
                         height: 68px;
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 21px;
                         line-height: 34px;
                         color: rgba(0, 0, 0, 1);
                    }

                    >p {
                         font-weight: 400;
                         font-size: 18px;
                         font-family: Poppins;
                         line-height: 28px;
                         width: 361px;
                         margin-top: 5px;

                         @media (max-width:500px) {
                              font-size: 16px;
                              width: 323px;
                         }

                    }

                    .more {
                         >p {
                              font-weight: 600;
                              color: rgba(242, 100, 64, 1);
                              font-size: 14px;
                              line-height: 27px;
                              display: flex;
                              align-items: center;
                              margin-top: 5px;

                              img {
                                   margin-left: 5px;
                              }
                         }

                    }

               }

               .card2 {
                    width: 420px;
                    height: 279px;

                    h2 {
                         width: 244px;
                         height: 68px;
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 21px;
                         line-height: 34px;
                         color: rgba(0, 0, 0, 1);
                    }

                    >p {
                         font-weight: 400;
                         font-size: 18px;
                         font-family: Poppins;
                         line-height: 28px;
                         width: 361px;
                         margin-top: 5px;

                         @media (max-width:500px) {
                              font-size: 16px;
                              width: 323px;
                         }
                    }

                    .more {
                         >p {
                              font-weight: 600;
                              color: rgba(242, 100, 64, 1);
                              font-size: 14px;
                              line-height: 27px;
                              display: flex;
                              align-items: center;
                              margin-top: 5px;

                              img {
                                   margin-left: 5px;
                              }
                         }

                    }

               }

               .card3 {
                    width: 420px;
                    height: 279px;

                    h2 {
                         width: 244px;
                         height: 68px;
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 21px;
                         line-height: 34px;
                         color: rgba(0, 0, 0, 1);
                    }

                    >p {
                         font-weight: 400;
                         font-size: 18px;
                         font-family: Poppins;
                         line-height: 28px;
                         width: 361px;
                         margin-top: 5px;

                         @media (max-width:500px) {
                              font-size: 16px;
                              width: 323px;
                         }
                    }

                    .more {
                         >p {
                              font-weight: 600;
                              color: rgba(242, 100, 64, 1);
                              font-size: 14px;
                              line-height: 27px;
                              display: flex;
                              align-items: center;
                              margin-top: 5px;

                              img {
                                   margin-left: 5px;
                              }
                         }

                    }

               }
          }
     }

     .main2 {
          @media (max-width:500px) {
               width: 100%;
               margin: 0;
          }

          .flex {
               display: flex;
               justify-content: space-between;
               padding-right: 100px;
               padding-top: 90px;

               @media (max-width:500px) {
                    width: 90%;
                    margin: auto;
                    margin-left: 20px;
               }

               h1 {
                    margin-left: 100px;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 90px;
                    font-family: Poppins;
                    margin-top: 90px;
                    margin-bottom: 50px;

                    @media (max-width:500px) {
                         font-family: Poppins;
                         font-size: 40px;
                         line-height: 52px;
                         font-weight: 600;
                         margin: 0;
                    }

               }

               .coins {
                    display: flex;

                    @media (max-width:500px) {
                         margin-left: 90px;
                    }

               }
          }

          .carousels {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
               margin-left: 100px;

               @media (max-width:500px) {
                    grid-template-columns: 1fr 1fr;
                    margin: 0;
                    padding-left: 20px;
                    padding-top: 40px;
               }

               .carousel1 {
                    width: 240px;
                    height: 360px;
                    border-radius: 8px;
                    padding-left: 2px;

                    @media (max-width:500px) {
                         width: 164px;
                         height: 304px;
                    }

                    img {
                         @media (max-width:500px) {
                              width: 160px;
                              height: 208px;
                              margin-top: -23px;
                         }
                    }

                    p:nth-child(1) {
                         color: rgba(15, 49, 65, 1);
                         font-weight: 400;
                         font-family: Raleway;
                         font-size: 14px;
                         line-height: 16px;
                         margin-top: 2px;

                         @media (max-width:500px) {
                              font-size: 14px;
                         }

                    }


                    h3 {
                         font-family: Raleway;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 30px;

                         @media (max-width:500px) {
                              font-size: 16px;
                         }

                    }



               }

               .carousel2 {
                    width: 240px;
                    height: 360px;
                    border-radius: 8px;
                    padding-left: 2px;

                    @media (max-width:500px) {
                         width: 164px;
                         height: 304px;
                    }

                    img {
                         @media (max-width:500px) {
                              width: 160px;
                              height: 208px;
                              margin-top: -23px;
                         }
                    }

                    p:nth-child(1) {
                         color: rgba(15, 49, 65, 1);
                         font-weight: 400;
                         font-family: Raleway;
                         font-size: 14px;
                         line-height: 16px;
                         margin-top: 2px;

                         @media (max-width:500px) {
                              font-size: 14px;
                         }

                    }


                    h3 {
                         font-family: Raleway;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 30px;

                         @media (max-width:500px) {
                              font-size: 16px;
                         }

                    }






               }

               .carousel3 {
                    width: 240px;
                    height: 360px;
                    border-radius: 8px;
                    padding-left: 2px;

                    @media (max-width:500px) {
                         width: 164px;
                         height: 304px;
                    }

                    img {
                         @media (max-width:500px) {
                              width: 160px;
                              height: 208px;
                              margin-top: -23px;
                         }
                    }

                    p:nth-child(1) {
                         color: rgba(15, 49, 65, 1);
                         font-weight: 400;
                         font-family: Raleway;
                         font-size: 14px;
                         line-height: 16px;
                         margin-top: 2px;

                         @media (max-width:500px) {
                              font-size: 14px;
                         }

                    }


                    h3 {
                         font-family: Raleway;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 30px;

                         @media (max-width:500px) {
                              font-size: 16px;
                         }

                    }





               }

               .carousel4 {
                    width: 240px;
                    height: 360px;
                    border-radius: 8px;
                    padding-left: 2px;

                    @media (max-width:500px) {
                         width: 164px;
                         height: 304px;
                    }

                    img {
                         @media (max-width:500px) {
                              width: 160px;
                              height: 208px;
                              margin-top: -23px;
                         }
                    }

                    p:nth-child(1) {
                         color: rgba(15, 49, 65, 1);
                         font-weight: 400;
                         font-family: Raleway;
                         font-size: 14px;
                         line-height: 16px;
                         margin-top: 2px;

                         @media (max-width:500px) {
                              font-size: 14px;
                         }

                    }


                    h3 {
                         font-family: Raleway;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 30px;

                         @media (max-width:500px) {
                              font-size: 16px;
                         }

                    }


               }

               .carousel5 {
                    width: 240px;
                    height: 360px;
                    border-radius: 8px;
                    padding-left: 2px;

                    @media (max-width:500px) {
                         width: 164px;
                         height: 304px;
                    }

                    img {
                         @media (max-width:500px) {
                              width: 160px;
                              height: 208px;
                              margin-top: -23px;
                         }
                    }

                    p:nth-child(1) {
                         color: rgba(15, 49, 65, 1);
                         font-weight: 400;
                         font-family: Raleway;
                         font-size: 14px;
                         line-height: 16px;
                         margin-top: 2px;

                         @media (max-width:500px) {
                              font-size: 14px;
                         }

                    }


                    h3 {
                         font-family: Raleway;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 30px;

                         @media (max-width:500px) {
                              font-size: 16px;
                         }

                    }





               }

          }
     }

     .main3 {
          width: 100%;
          height: 1063px;
          background-color: rgba(15, 49, 65, 1);
          padding-top: 50px;

          @media (max-width:500px) {
               width: 100%;
          }

          .next {
               width: 90px;
               height: 90px;
               border-radius: 50%;
               background-color: rgba(240, 116, 84, 1);
               border: 8px solid rgba(15, 49, 65, 1);
               margin-left: 1325px;
               position: absolute;
               margin-top: 250px;
               display: flex;

               @media (max-width:500px) {
                    display: none;
               }

               &:hover {
                    background-color: rgba(15, 49, 65, 1);
                    border-color: rgba(240, 116, 84, 1);
               }

               &:active {
                    transform: scale(0.9);
               }
          }

          >h1 {
               font-family: Poppins;
               font-size: 60px;
               line-height: 90px;
               font-weight: 600;
               color: white;
               margin-left: 100px;
               margin-top: 90px;

               @media (max-width:500px) {
                    margin: 0;
                    font-size: 40px;
                    line-height: 52px;
                    width: 218px;
                    margin-left: 20px;
                    margin-bottom: 50px;
                    
               }
          }

          .rooms {
               margin-left: 100px;
               margin-top: 50px;
               display: grid;
               grid-template-columns: 1fr 1fr 1fr;

               @media (max-width:500px) {
                    grid-template-columns: 1fr 1fr;
                    margin: 0;
                    margin-left: 20px;
                    
               }

               .kitchen {
                    width: 400px;
                    height: 600px;
                    border-radius: 30px;

                    @media (max-width:500px) {
                         width: 160px;
                         height: 270px;
                         margin: auto;

                    }


                    h2 {
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 24px;
                         line-height: 36px;
                         margin-top: 5px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 16px;
                              margin: 0;
                              margin-left: 2px;

                         }
                    }

                    p {
                         color: rgba(182, 185, 191, 1);
                         font-family: Raleway;
                         font-size: 18px;
                         list-style: 21px;
                         margin-top: 12px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 12px;
                              margin: 0;
                              margin-left: 2px;

                         }

                    }

                    img {
                         border-radius: 30px;

                         @media (max-width:500px) {
                              width: 160px;
                              height: 210px;
                         }
                    }
               }



               .livingroom {
                    width: 400px;
                    height: 600px;
                    border-radius: 30px;
                    @media (max-width:500px) {
                         width: 160px;
                         height: 270px;
                         margin: auto;

                    }


                    h2 {
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 24px;
                         line-height: 36px;
                         margin-top: 5px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 16px;
                              margin: 0;
                              margin-left: 2px;

                         }
                    }

                    p {
                         color: rgba(182, 185, 191, 1);
                         font-family: Raleway;
                         font-size: 18px;
                         list-style: 21px;
                         margin-top: 12px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 12px;
                              margin: 0;
                              margin-left: 2px;

                         }

                    }

                    img {
                         border-radius: 30px;

                         @media (max-width:500px) {
                              width: 160px;
                              height: 210px;
                         }
                    }
                              }

               .bedroom {
                    width: 400px;
                    height: 600px;
                    border-radius: 30px;
                    @media (max-width:500px) {
                         width: 160px;
                         height: 270px;
                         margin: auto;
                         margin-top: 20px;

                    }


                    h2 {
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 24px;
                         line-height: 36px;
                         margin-top: 5px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 16px;
                              margin: 0;
                              margin-left: 2px;

                         }
                    }

                    p {
                         color: rgba(182, 185, 191, 1);
                         font-family: Raleway;
                         font-size: 18px;
                         list-style: 21px;
                         margin-top: 12px;
                         margin-left: 3px;
                         color: white;

                         @media (max-width:500px) {
                              font-size: 12px;
                              margin: 0;
                              margin-left: 2px;

                         }

                    }

                    img {
                         border-radius: 30px;

                         @media (max-width:500px) {
                              width: 160px;
                              height: 210px;
                         }
                    }
               
               }
          }
     }

     .main4 {
          width: 100%;
          height: 743px;
          background-image: url("./Group\ 13752.svg");
          object-fit: cover;
          background-size: cover;
          padding-left: 100px;
          @media (max-width:500px) {
               width: 100%;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               padding: 0;
          }

          h3 {
               font-weight: 600;
               font-family: Poppins;
               font-size: 20px;
               line-height: 30px;
               color: rgba(241, 114, 82, 1);
               padding-top: 100px;
               @media (max-width:500px) {
                    margin-left: 20px;
               }
          }

          h1 {
               font-family: Poppins;
               font-size: 60px;
               font-weight: 600;
               line-height: 90px;
               @media (max-width:500px) {
                    font-size: 40px;
                    width: 279px;
                    line-height: 60px;
                    margin-left: 20px;
               }
          }

          p {
               font-size: 18px;
               font-weight: 400;
               font-family: Poppins;
               line-height: 30px;
               width: 645px;
               color: rgba(0, 0, 0, 1);
               @media (max-width:500px) {
                    font-size: 16px;
                    width: 334px;
                    color: rgba(0, 0, 0, 1);
                    margin-left: 20px;
               }
          }

          >img {
               margin-top: 20px;
               @media (max-width:500px) {
                    margin-left: 20px;
               }
          }

          .button10 {

               button {
                    background: linear-gradient(90deg, rgba(242, 100, 64, 1), rgba(239, 125, 96, 1));
                    width: 168px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: white;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    border: none;
                    margin-top: 60px;
                    border-radius: 4px;
                    @media (max-width:500px) {
                         margin-left: 20px;
                    }

                    &:active {
                         transform: scale(0.9);
                    }

                    >img {
                         margin-left: 10px;
                    }
               }
          }
     }

     
     .main6{

          width: 100%;
          height: 970px;
          margin-top: 50px;
          .icoms25{
               display: flex;
               justify-content: space-between;
               padding-left: 100px;
               padding-right: 100px;
               margin-top: 90px;
               @media (max-width:500px) {
                    width: 100%;
                    padding: 0;
               }
               img{
                    @media (max-width:500px) {
                         margin: auto;
                    }
               }
               h1{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 90px;
                    @media (max-width:500px) {
                         font-size: 40px;
                         width: 290px;
                         margin: auto;
                         line-height: 52px;
                    }

               }
          }
          .cards2{
               .card5{
                    display: flex;
                    width: 838px;
                    height: 493px;
                    margin-left: 100px;
                    background-color: #FAF8F4;
                    border-radius: 8px;
                    margin-top: 50px;
                    @media (max-width:500px) {
                         margin: 0;
                         width: 90%;
                         margin: auto;
                         flex-direction: column;
                         height: 698px;
                         margin-top: 50px;
                    }
                    .card5_img{
                         @media (max-width:500px) {
                              
                         
                         width: 144px;
                         height: 200px;
                         margin: auto;
                         margin-top: 50px;}
                    }

                    .right15{
                         margin-left: 50px;
                         @media (max-width:500px) {
                              margin: auto;
                         }
                        
                    > img{
                         margin-top: 25px;
                         
                    }
                    p{
                         width: 391px;
                         font-weight: 400;
                         font-size: 14px;
                         line-height: 28px;
                    }
                    h3{
                         font-weight: 600;
                         font-size: 16px;
                         color: rgba(86, 85, 84, 1);
                         font-family: Poppins;
                         margin-top: 20px;
                    }
               }
                    > img{
                         width: 450px;
                         height: 450px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         margin-top: 20px;
                    }
               }
               .card6{
                    display: flex;
                    width: 838px;
                    height: 493px;
                    margin-left: 100px;
                    background-color: #FAF8F4;
                    border-radius: 8px;
                    margin-left: 150px;
                    @media (max-width:500px) {
                         display: none;
                    }

                    .right15{
                    > img{
                         margin-top: 25px;
                    }
                    p{
                         width: 391px;
                         font-weight: 400;
                         font-size: 14px;
                         line-height: 28px;
                    }
                    h3{
                         font-weight: 600;
                         font-size: 16px;
                         color: rgba(86, 85, 84, 1);
                         font-family: Poppins;
                         margin-top: 20px;
                    }
               }
                    > img{
                         width: 450px;
                         height: 450px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         margin-top: 20px;
                    }
               }
          }


     }
     .main5 {
          width: 100%;
          height: 806px;
          display: flex;
          justify-content: space-between;
          @media (max-width:500px) {
               width: 100%;
               border: 2px solid red;
               margin-top: 500px;
               margin-left: -500px;
               flex-direction: column;
          }
          .main5_left {
               margin-left: 100px;
               margin-top: 100px;

               h1 {
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 72px;
                    font-family: Poppins;
                    width: 527px;
               }

               p {
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    width: 740px;
                    margin-top: 20px;
               }

               .button11 {
                    display: flex;
                    width: 320px;

                    a {
                         font-family: Raleway;
                         font-weight: 400;
                         font-size: 20px;
                         color: rgba(0, 0, 0, 1);
                         line-height: 23px;
                         margin-top: 60px;
                         margin-left: 15px;
                    }

                    button {
                         width: 160px;
                         height: 54px;
                         border-radius: 8px;
                         background: linear-gradient(90deg, rgba(242, 100, 64, 1), rgba(239, 125, 96, 1));
                         border: none;
                         font-family: Poppins;
                         font-weight: 600;
                         font-size: 18px;
                         color: white;
                         margin-top: 50px;




                    }
               }
          }
          .main5_right{
               img:nth-child(1){
                    margin-left: 180px;
               }
               img:nth-child(2){
                    margin-left: -220px;
                    margin-top: -480px;
               }
          }
     }






























}